<div class="container">
    <div class="row">
        <form>
            <div class="col-lg-6">
                Email:<input type="text" ng-model="email"  class="form-control" /><br/>
            </div>
            <div class="col-lg-12">
                &nbsp;
            </div>
            <div class="col-lg-6">
                Password:<input type="password" ng-model="password"  class="form-control" /><br/>
            </div>
            <div class="col-lg-12">
                &nbsp;
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary" ng-click="adminsubmit()">Login</button>

                <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>
            </div>
            <div class="col-lg-12">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{message}}
                </div>
            </div>
        </form>




    </div>
</div>